* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
} 

@import '../scss/colors';
@import '../scss/tipography.scss';

body{
    width: 100%;
    background: $black-normal;
}

@import '../scss/spacing';
@import '../scss/media.scss';
@import '../scss/layout.scss';