* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color__gray {
  color: #777;
}

.color__pink {
  color: #e81cff;
}

.color__div {
  background: #121316;
  width: 100vh;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 4rem;
}

.m-7 {
  margin: 4.5rem;
}

.m-8 {
  margin: 6rem;
}

.m-9 {
  margin: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 4.5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mt-9 {
  margin-top: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 4rem;
}

.ml-7 {
  margin-left: 4.5rem;
}

.ml-8 {
  margin-left: 6rem;
}

.ml-9 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 4rem;
}

.mr-7 {
  margin-right: 4.5rem;
}

.mr-8 {
  margin-right: 6rem;
}

.mr-9 {
  margin-right: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-7 {
  margin-bottom: 4.5rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.mb-9 {
  margin-bottom: 8rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-7 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.mx-8 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-9 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-7 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-8 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-9 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 4rem;
}

.p-7 {
  padding: 4.5rem;
}

.p-8 {
  padding: 6rem;
}

.p-9 {
  padding: 8rem;
}

.p-10 {
  padding: 10.5rem;
}

.p-11 {
  padding: 13.5rem;
}

.p-12 {
  padding: 17rem;
}

.p-13 {
  padding: 21rem;
}

.p-14 {
  padding: 25.5rem;
}

.p-15 {
  padding: 30.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 4rem;
}

.pt-7 {
  padding-top: 4.5rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pt-9 {
  padding-top: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 4rem;
}

.pl-7 {
  padding-left: 4.5rem;
}

.pl-8 {
  padding-left: 6rem;
}

.pl-9 {
  padding-left: 8rem;
}

.pl-10 {
  padding-left: 10.5rem;
}

.pl-11 {
  padding-left: 13.5rem;
}

.pl-12 {
  padding-left: 17rem;
}

.pl-13 {
  padding-left: 21rem;
}

.pl-14 {
  padding-left: 25.5rem;
}

.pl-15 {
  padding-left: 30.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 4rem;
}

.pr-7 {
  padding-right: 4.5rem;
}

.pr-8 {
  padding-right: 6rem;
}

.pr-9 {
  padding-right: 8rem;
}

.pr-10 {
  padding-right: 10.5rem;
}

.pr-11 {
  padding-right: 13.5rem;
}

.pr-12 {
  padding-right: 17rem;
}

.pr-13 {
  padding-right: 21rem;
}

.pr-14 {
  padding-right: 25.5rem;
}

.pr-15 {
  padding-right: 30.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pb-7 {
  padding-bottom: 4.5rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pb-9 {
  padding-bottom: 8rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-7 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-8 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-9 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-7 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-9 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'JetBrains Mono', monospace;
  color: #F5F7F7;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.menu__logo__branding {
  font-size: 1.375rem;
}

.link {
  padding: 8px 20px;
  font-size: 1.125rem;
  display: inline-block;
  transition: .5s ease;
  position: relative;
}

.link:active {
  display: inline-block;
  background: linear-gradient(225deg, #e81cff 0%, #40c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.link:hover {
  display: inline-block;
  background: linear-gradient(225deg, #e81cff 0%, #40c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 0.125rem;
  transform: translate(50% -50%);
  transition: .5s ease;
  background: linear-gradient(90deg, #e81cff 0%, #40c9ff 100%);
}

.link:hover {
  opacity: .8;
}

.link:hover::after {
  width: 90%;
}

h1 {
  font-size: 4.5rem;
  line-height: 100%;
}

h2 {
  font-size: 3rem;
  line-height: 110%;
}

h3 {
  font-size: 2rem;
  line-height: 120%;
}

h4 {
  font-size: 1.5rem;
  line-height: 130%;
}

h5 {
  font-size: 1rem;
  line-height: 140%;
}

h6 {
  font-size: 0.5rem;
  line-height: 150%;
}

.mask__branding {
  display: inline-block;
  background: linear-gradient(225deg, #e81cff 0%, #40c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.mask {
  display: inline-block;
  background: linear-gradient(225deg, #7DCAF2 0%, #47ADE2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  width: 100%;
  background: #0a0a11;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 4rem;
}

.m-7 {
  margin: 4.5rem;
}

.m-8 {
  margin: 6rem;
}

.m-9 {
  margin: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 4.5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mt-9 {
  margin-top: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 4rem;
}

.ml-7 {
  margin-left: 4.5rem;
}

.ml-8 {
  margin-left: 6rem;
}

.ml-9 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 4rem;
}

.mr-7 {
  margin-right: 4.5rem;
}

.mr-8 {
  margin-right: 6rem;
}

.mr-9 {
  margin-right: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-7 {
  margin-bottom: 4.5rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.mb-9 {
  margin-bottom: 8rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-7 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.mx-8 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-9 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-7 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-8 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-9 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 4rem;
}

.p-7 {
  padding: 4.5rem;
}

.p-8 {
  padding: 6rem;
}

.p-9 {
  padding: 8rem;
}

.p-10 {
  padding: 10.5rem;
}

.p-11 {
  padding: 13.5rem;
}

.p-12 {
  padding: 17rem;
}

.p-13 {
  padding: 21rem;
}

.p-14 {
  padding: 25.5rem;
}

.p-15 {
  padding: 30.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 4rem;
}

.pt-7 {
  padding-top: 4.5rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pt-9 {
  padding-top: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 4rem;
}

.pl-7 {
  padding-left: 4.5rem;
}

.pl-8 {
  padding-left: 6rem;
}

.pl-9 {
  padding-left: 8rem;
}

.pl-10 {
  padding-left: 10.5rem;
}

.pl-11 {
  padding-left: 13.5rem;
}

.pl-12 {
  padding-left: 17rem;
}

.pl-13 {
  padding-left: 21rem;
}

.pl-14 {
  padding-left: 25.5rem;
}

.pl-15 {
  padding-left: 30.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 4rem;
}

.pr-7 {
  padding-right: 4.5rem;
}

.pr-8 {
  padding-right: 6rem;
}

.pr-9 {
  padding-right: 8rem;
}

.pr-10 {
  padding-right: 10.5rem;
}

.pr-11 {
  padding-right: 13.5rem;
}

.pr-12 {
  padding-right: 17rem;
}

.pr-13 {
  padding-right: 21rem;
}

.pr-14 {
  padding-right: 25.5rem;
}

.pr-15 {
  padding-right: 30.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pb-7 {
  padding-bottom: 4.5rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pb-9 {
  padding-bottom: 8rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-7 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-8 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-9 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-7 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-9 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 1310px) {
  .menu__right {
    display: none;
  }
}

@media screen and (max-width: 1650px) {
  .container {
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: center;
  }
  .container__item h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0 auto;
  }
  .container__item h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 auto;
    color: rgba(245, 247, 247, 0.87);
    align-content: start;
  }
  .container__item:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container__item:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 40px 0px;
  }
  .container__item:nth-child(2) img {
    width: 350px;
  }
  .relative {
    position: relative;
    height: 0;
    align-items: center;
  }
  .bg__hero {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: .2;
  }
}

@media screen and (min-width: 1920px) {
  .svg__hero {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1400px) {
  .svg__hero {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1310px) {
  .svg__hero {
    transform: scale(1.8) rotate(-35deg);
  }
}

.color__gray {
  color: #777;
}

.color__pink {
  color: #e81cff;
}

.color__div {
  background: #121316;
  width: 100vh;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 3rem;
}

.m-6 {
  margin: 4rem;
}

.m-7 {
  margin: 4.5rem;
}

.m-8 {
  margin: 6rem;
}

.m-9 {
  margin: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 4.5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mt-9 {
  margin-top: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 4rem;
}

.ml-7 {
  margin-left: 4.5rem;
}

.ml-8 {
  margin-left: 6rem;
}

.ml-9 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mr-6 {
  margin-right: 4rem;
}

.mr-7 {
  margin-right: 4.5rem;
}

.mr-8 {
  margin-right: 6rem;
}

.mr-9 {
  margin-right: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-7 {
  margin-bottom: 4.5rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.mb-9 {
  margin-bottom: 8rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-7 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.mx-8 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-9 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-7 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-8 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-9 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.p-6 {
  padding: 4rem;
}

.p-7 {
  padding: 4.5rem;
}

.p-8 {
  padding: 6rem;
}

.p-9 {
  padding: 8rem;
}

.p-10 {
  padding: 10.5rem;
}

.p-11 {
  padding: 13.5rem;
}

.p-12 {
  padding: 17rem;
}

.p-13 {
  padding: 21rem;
}

.p-14 {
  padding: 25.5rem;
}

.p-15 {
  padding: 30.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 4rem;
}

.pt-7 {
  padding-top: 4.5rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pt-9 {
  padding-top: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pl-6 {
  padding-left: 4rem;
}

.pl-7 {
  padding-left: 4.5rem;
}

.pl-8 {
  padding-left: 6rem;
}

.pl-9 {
  padding-left: 8rem;
}

.pl-10 {
  padding-left: 10.5rem;
}

.pl-11 {
  padding-left: 13.5rem;
}

.pl-12 {
  padding-left: 17rem;
}

.pl-13 {
  padding-left: 21rem;
}

.pl-14 {
  padding-left: 25.5rem;
}

.pl-15 {
  padding-left: 30.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pr-6 {
  padding-right: 4rem;
}

.pr-7 {
  padding-right: 4.5rem;
}

.pr-8 {
  padding-right: 6rem;
}

.pr-9 {
  padding-right: 8rem;
}

.pr-10 {
  padding-right: 10.5rem;
}

.pr-11 {
  padding-right: 13.5rem;
}

.pr-12 {
  padding-right: 17rem;
}

.pr-13 {
  padding-right: 21rem;
}

.pr-14 {
  padding-right: 25.5rem;
}

.pr-15 {
  padding-right: 30.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pb-7 {
  padding-bottom: 4.5rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pb-9 {
  padding-bottom: 8rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-7 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-8 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-9 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-7 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-9 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.center {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 2%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 0;
  text-align: center;
  z-index: 5;
  background: rgba(10, 10, 17, 0.5);
  backdrop-filter: blur(8px);
  --webkit-backdrop-filter: blur(8px);
}

header li {
  display: inline-block;
  margin: 0 7px;
}

.container__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  border: 3px solid red;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bg__hero {
  position: absolute;
  max-width: 1220px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: .2;
}

.relative {
  position: relative;
  width: 1220px;
  display: flex;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  height: 90vh;
  margin: 0 auto;
  padding: 48px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__item h1 {
  text-align: justify;
  font-weight: 700;
}

.container__item h4 {
  margin-top: 40px;
  font-weight: 300;
  text-align: left;
  color: rgba(245, 247, 247, 0.87);
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__item:nth-child(1) {
  flex-grow: 2;
  margin: 40px 0px;
}

.container__item:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

.container__item:nth-child(2) img {
  max-width: 480px;
}

.button {
  position: relative;
  width: 180px;
  height: 70px;
  background-color: #0a0a11;
  display: flex;
  align-items: center;
  color: #F5F7F7;
  font-size: 1.25rem;
  font-family: 'JetBrains Mono', monospace;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  margin-top: 6rem;
  gap: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 188px;
  height: 78px;
  border-radius: 12px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}

.bb__blue {
  border-bottom: 1px solid #40c9ff;
  opacity: .1;
  width: 100%;
}

.list {
  width: 100vw;
  max-width: 100vw;
  height: 37.5rem;
  margin: 0 calc(-50vw + 50%);
}

.list__item {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px 24px;
  padding-top: 4.5rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list__item h3 {
  font-weight: 500;
}

a :hover {
  transition: .6s ease;
  color: #40c9ff;
}

a:hover + .img__project {
  transform: translate(-30%, -50%) translate3d(0, 0, 0);
  opacity: 1;
}

.img__project {
  max-width: 720px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .6s ease;
  z-index: -1;
  border: 5px solid #40c9ff;
  opacity: 0;
  transform: translate(-50%, -50%) translate3d(-3000px, 0, 0) skewX(90deg);
}

.get {
  border: 3px solid blue;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  margin: 0 calc(-50vw + 50%);
}

.get h3 {
  font-weight: 500;
}

.get__item {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px 16px;
  padding-bottom: 3rem;
}

.form__container {
  width: 600px;
  background: linear-gradient(#121316, #121316) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;
  color: #EDEFF0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 4.5rem;
}

.form__container button:active {
  scale: 0.95;
}

.form__container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__container .form__group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form__container .form__group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 1rem;
}

.form__container .form__group input {
  width: 100%;
  padding: 8px 22px;
  border-radius: 8px;
  color: #EDEFF0;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #414141;
}

.form__container .form__group textarea {
  width: 100%;
  padding: 18px 22px;
  border-radius: 8px;
  resize: none;
  color: #EDEFF0;
  height: 10.5rem;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.5rem;
}

.form__container .form__group input::placeholder {
  opacity: 0.5;
}

.form__container .form__group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form__container .form__group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form__container .form__submit__btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: 'JetBrains Mono', monospace;
  color: #717171;
  font-weight: 600;
  width: 30%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: 1rem;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form__container .form__submit__btn:hover {
  background-color: #EDEFF0;
  border-color: #EDEFF0;
}
